
.rounded--1rem {
    border-radius: 1rem!important;
}

.btn-accept {
    border: none;
    background-color: #001e2b;
    color: white;
    border-radius: 10rem;
    padding: 5px 20px;
}

.form-control--order {
    display: block;
    width: 45%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}